.App_header{
    text-align: center;    
}
.App_header >h1{
    font-weight: 500;
}
.App_board{
    height: 300px;
}

.App_board_row{
    height: 100px;
}

.App_board_row > div{
 border: 1px solid black;
}