.App_header{
    text-align: center;    
}

.App_header >h1{
    font-weight: 500;
}

.App_board{
    height: 300px;
    width: 300px;
}

.App_board_row
{
    height: 100px;
    flex-wrap: wrap;
    width: 300px;
}

.App_board_col
{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}